<div class="login-screen">
    <div class="login-panel">
        <h5 class="title">Login</h5>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" [(ngModel)]="user.email">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" [(ngModel)]="user.password">
                <label for="password">Password</label>
            </div>
        </div>
        <button class="button" (click)="login()">Login</button>
        <p class="goto-register">Not registered? Register now <a class="link" routerLink="/register">aqui</a>.</p>
    </div>
</div>